.graph-visualization {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.react-flow {
  background: #fafafa;
  width: 100%;
  height: 100%;
}

.react-flow__node {
  font-size: 12px;
}

.react-flow__edge-label {
  font-size: 11px;
}

